html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--colour-light-brown);
}

h1, h2 {
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
    margin: unset;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

h3, h4 {
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    margin: unset;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.1rem;
}


html, body {
    margin: 0px;
    height: 100%;
}

:root {
    --colour-light-brown: #D9C5B2;
    --colour-dark-brown: #9E6240;
    --colour-dark-blue: #2E294E;
    --colour-dark-teal: #096B72;
    --colour-midnight: #151515;
}